body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 10px;
    text-align: left;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.info-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.info-container p,
.info-container ol,
.info-container pre {
    margin-bottom: 15px;
    color: #333;
    line-height: 1.6;
}

.info-container ol {
    padding-left: 20px;
}

.info-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.info-container table th,
.info-container table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-container table th {
    background-color: #f9f9f9;
}

.info-container .code {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
